<div class="container">
    <div style="padding-left:20px; padding-right:20px">
        <!--<form name="searchUser">
            <input type="search" required placeholder="Book to find" ng-model="bookId"/>
            <input type="submit" value="search" ng-click="search(bookId)"/>

        </form>-->

        <!--<div class="row">
            <div class="span11">
                <h2>{{book.title | uppercase}} </h2>
            </div>
        </div>-->

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Brand</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>{{book.title | uppercase}} </h2>
            </div>
            <div class="panel-body">

            </div>

            <!-- Table -->
            <table class="table">
                <tr>
                    <img ng-src="http://localhost:8080/rest/books/{{book.id}}.jpg" class="cardImage" class="bottom-align-right" width="200" height="300">
                </tr>
                <tr>
                    <td><strong>ISBN</strong></td>
                    <td>{{book.ISBN}}</td>
                </tr>
                <tr>
                    <td><strong>Authors</strong></td>
                    <td>{{book.authors}}</td>
                </tr>
                <tr>
                    <td><strong>Date</strong></td>
                    <td>{{book.date}}</td>
                </tr>
                <tr>
                    <td><strong>Language</strong></td>
                    <td>{{book.language}}</td>
                </tr>
                <tr>
                    <td><strong>Number of pages</strong></td>
                    <td>{{book.numberOfPages}}</td>
                </tr>
                <tr>
                    <td><strong>Price</strong></td>
                    <td>{{book.price}} lei</td>
                </tr>
                <tr>
                    <td><strong>Rating</strong></td>
                    <td>
                        <div><uib-rating ng-model="book.stars" max="5" readonly="true" state-on="'glyphicon-star'" state-off="'glyphicon-star-empty'"></uib-rating></div>
                    </td>

                </tr>
            </table>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                Description
            </div>
            <div class="panel-footer">{{book.desc}}</div>
        </div>

       <!-- <div> <span>{{book.stars}} out of
            10
        <div star-rating rating-value="{{book.stars}}"></div>
-->
        </span>
        <hr>
    </div>
</div>